/*
	Skin Name: Text Thumbnail
	Class: text-thumbnail
	Description: Text Thumbnail skin for Slider PRO WordPress plugin
	Author: David
*/


/* MAIN SLIDE */

.text-thumbnail .slide-wrapper {
	background-color: #FFF;
	border: 4px solid #FFF;
	-moz-box-shadow: 0 0 10px #CCC;
	-webkit-box-shadow: 0 0 10px #CCC;
	box-shadow: 0 0 10px #CCC;
}


.text-thumbnail .slide {
	background-color: #FFF;
}

/* END OF MAIN SLIDE */


/* SLIDE ARROWS */

.text-thumbnail .slide-arrows a {
	background: url(../images/slider/arrows.png) no-repeat;
	width: 38px;
	height: 38px;
	top: 50%;
	margin-top: -19px;
}


.text-thumbnail .slide-arrows a.previous {
	left: 20px;
}


.text-thumbnail .slide-arrows a.next {
	right: 20px;
	background-position: -38px 0;
}

/* END SLIDE ARROWS */


/* SLIDESHOW CONTROLS */

.text-thumbnail .slideshow-controls {
	background: url(../images/slider/playpause.png) no-repeat;
	width: 38px;
	height: 38px;
	top: 50%;
	left: 50%;
	margin-top: -19px;
	margin-left: -19px;
}


.text-thumbnail .slideshow-controls.pause {
	background-position: 0 0;
}


.text-thumbnail .slideshow-controls.play {
	background-position: -38px 0;
}

/* END OF SLIDESHOW CONTROLS */


/* TIMER ANIMATION */

.text-thumbnail .timer-animation {
	top: 20px;
	right: 20px;
}

/* END OF TIMER ANIMATION */


/* SLIDE CAPTION */

.text-thumbnail .caption-container .background {
	background-color: #000;
	width: 100%;
	height: 100%;
}


.text-thumbnail .caption-container .caption {
	color: #FFF;
	margin: 0;
	padding: 8px;
	font-size: 16px;
	line-height: 1;
}

/* END OF SLIDE CAPTION */


/* SLIDE BUTTONS/BULLETS */

/* main container of the navigation buttons */
.text-thumbnail .slide-buttons {
	margin-top: 40px;
}


/* 
 left, right and middle of the main container 
 for this skin, these elements are not styled by default
 feel free to add your own styling
*/
.text-thumbnail .slide-buttons .left, 
.text-thumbnail .slide-buttons .right {
}


.text-thumbnail .slide-buttons .left {
}


.text-thumbnail .slide-buttons .middle {
}


.text-thumbnail .slide-buttons .right {
}


/* this contains the buttons */
.text-thumbnail .slide-buttons .buttons-inner {
}


/* this is a button */
.text-thumbnail .slide-buttons .buttons-inner a {
	background: url(../images/slider/buttons.png) no-repeat;
	background-position: 0 0;
	width: 14px;
	height: 14px;
	margin: 0 2px;
}


.text-thumbnail .slide-buttons .buttons-inner a.over {
	background-position: -14px 0; 
}


.text-thumbnail .slide-buttons .buttons-inner a.select {
	background-position: -28px 0; 
}


/* this is used to style the numbers from within the buttons, when they are used */
.text-thumbnail .slide-buttons .buttons-inner a .number {
	margin-top: 2px;
	font-size: 9px;
	line-height: 11px;
	color: #666;
}


.text-thumbnail .slide-buttons .buttons-inner a.over .number {
	font-size: 8px;
	color: #FFF;
}


.text-thumbnail .slide-buttons .buttons-inner a.select .number {
	font-size: 8px;
	color: #FFF;
}


/* 
 applied to the thumbnail when the thumbnail is used only as a tooltip
 sets the distance between the button and the thumbnail
*/
.text-thumbnail .slide-buttons .buttons-inner .thumbnail-wrapper {
	margin-bottom: 10px;
}

/* END OF SLIDE BUTTONS/BULLETS */


/* THUMBNAIL */

.text-thumbnail .thumbnail {
	font-size: 12px;
	color: #666;
	padding: 3px;
}


.text-thumbnail .thumbnail .title {
	padding: 5px;
	font-style: italic;
}


.text-thumbnail .thumbnail .description {
	padding: 5px;
}


.text-thumbnail .thumbnail.over .title,
.text-thumbnail .thumbnail.select .title {
	text-decoration: underline;
}

/* END OF THUMBNAIL */


/* THUMBNAIL SCROLLER */

.text-thumbnail .thumbnail-scroller.horizontal {
	bottom: 0;
	left: 0;
	margin-top: 10px;
}


.text-thumbnail .thumbnail-scroller.horizontal.overlay {
	bottom: 80px;
	margin-top: 0;
}


.text-thumbnail .thumbnail-scroller.vertical {
	right: 0;
	top: 0;
	margin-left: 10px;
}


.text-thumbnail .thumbnail-scroller.vertical.overlay {
	right: 80px;
	margin-left: 0;
}


.text-thumbnail .thumbnail-scroller.horizontal .thumbnail-wrapper {
	margin: 0 5px;
	padding: 0;
}


.text-thumbnail .thumbnail-scroller.vertical .thumbnail-wrapper {
	margin: 5px 0;
	padding: 0;
}


.text-thumbnail  .thumbnail-scroller.horizontal .thumbnail {
	border-top: 4px solid transparent;
}


.text-thumbnail .thumbnail-scroller.horizontal .thumbnail.over,
.text-thumbnail .thumbnail-scroller.horizontal .thumbnail.select {
	background-color: #FFF;
	border-top: 4px solid #D0D0D0;
}


.text-thumbnail  .thumbnail-scroller.vertical .thumbnail {
	border-left: 4px solid transparent;
}


.text-thumbnail .thumbnail-scroller.vertical .thumbnail.over,
.text-thumbnail .thumbnail-scroller.vertical .thumbnail.select {
	background-color: #FFF;
	border-left: 4px solid #D0D0D0;
}



/* THUMBNAIL SCROLLBAR ARROWS */

.text-thumbnail .thumbnail-scroller .arrows a {
	background: url(../images/slider/arrows.png) no-repeat;
	width: 38px;
	height: 38px;
}


.text-thumbnail .thumbnail-scroller.vertical .arrows a {
	background: url(../images/slider/arrows_v.png) no-repeat;
}


.text-thumbnail .thumbnail-scroller .arrows a.next {
	background-position: -38px 0;
}


.text-thumbnail .thumbnail-scroller.horizontal .arrows a.previous {
	left: 0;
}


.text-thumbnail .thumbnail-scroller.horizontal .arrows a.next {
	right: 0;
}


.text-thumbnail .thumbnail-scroller.vertical .arrows a.previous {
	top: 0;
}


.text-thumbnail .thumbnail-scroller.vertical .arrows a.next {
	bottom: 0;
}

/* END OF THUMBNAIL SCROLLBAR ARROWS */


/* THUMBNAIL SCROLLBAR BUTTONS */

.text-thumbnail .thumbnail-scroller .buttons a {
	background: url(../images/slider/buttons_small.png) no-repeat;
	background-position: 0 0; 
	width: 10px;
	height: 10px;
	margin: 2px;
}


.text-thumbnail .thumbnail-scroller .buttons a.over {
	background-position: -10px 0; 
}


.text-thumbnail .thumbnail-scroller .buttons a.select {
	background-position: -20px 0; 
}


.text-thumbnail .thumbnail-scroller.horizontal .buttons {
	margin-top: 0;
}


.text-thumbnail .thumbnail-scroller.vertical .buttons {
	margin-left: 0;
}

/* END OF THUMBNAIL SCROLLBAR BUTTONS */


/* THUMBNAIL SCROLLBAR SCROLLBAR */

.text-thumbnail .thumbnail-scroller.horizontal .scrollbar {
	margin-top: 30px;
}


.text-thumbnail .thumbnail-scroller.vertical .scrollbar {
	margin-left: 30px;
}

/* END OF THUMBNAIL SCROLLBAR SCROLLBAR */

/* END OF THUMBNAIL SCROLLER */


/* TOOLTIP */

.advanced-slider-tooltip {
	background-color: #DDD;
	margin-bottom: 20px;
	border: #EEE solid 4px;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}


.advanced-slider-tooltip .content {
	color: #999;
	padding: 10px;
	margin: 0;
}

/* END OF TOOLTIP */