/*
Theme Name: downtowncrown
Theme URI: 
Description: Downtown Crown theme
Version: 1.0
Author: Amber Martin
Author URI: 
Tags: fixed-width, left-sidebar, two-columns, valid HTML5, widgets
*/



#crown-main
{
 font-family: Arial;
  font-weight: normal;
   font-style: normal;
   position:absolute;
   width: 100%;
height:700px;
   left: 0;
   top: 0;
   cursor:default;
   overflow:hidden;


}


table, ul.crown-hmenu
{
   font-size: 13px;
   
   font-weight: normal;
   font-style: normal;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
   margin: 0;
   padding: 0;
}

/* Reset buttons border. It's important for input and button tags. 
 * border-collapse should be separate for shadow in IE. 
 */
.crown-button
{
   border: 0;
   border-collapse: separate;
   -webkit-background-origin: border !important;
   -moz-background-origin: border !important;
   background-origin: border-box !important;
   background:  #FF9120;
   padding:0 10px;
   margin:0 auto;
   height:28px;
}

.crown-postcontent,
.crown-postheadericons,
.crown-postfootericons,
.crown-blockcontent,
ul.crown-vmenu a 
{
   text-align: left;
}

.crown-postcontent,
.crown-postcontent li,
.crown-postcontent table,
.crown-postcontent a,
.crown-postcontent a:link,
.crown-postcontent a:visited,
.crown-postcontent a.visited,
.crown-postcontent a:hover,
.crown-postcontent a.hovered
{
   
   line-height: 175%;
}

.crown-postcontent p
{
   margin: 13px 10px 13px 0;
   color: #46464B;
}

.crown-postcontent h1, .crown-postcontent h1 a, .crown-postcontent h1 a:link, .crown-postcontent h1 a:visited, .crown-postcontent h1 a:hover,
.crown-postcontent h2, .crown-postcontent h2 a, .crown-postcontent h2 a:link, .crown-postcontent h2 a:visited, .crown-postcontent h2 a:hover,
.crown-postcontent h3, .crown-postcontent h3 a, .crown-postcontent h3 a:link, .crown-postcontent h3 a:visited, .crown-postcontent h3 a:hover,
.crown-postcontent h4, .crown-postcontent h4 a, .crown-postcontent h4 a:link, .crown-postcontent h4 a:visited, .crown-postcontent h4 a:hover,
.crown-postcontent h5, .crown-postcontent h5 a, .crown-postcontent h5 a:link, .crown-postcontent h5 a:visited, .crown-postcontent h5 a:hover,
.crown-postcontent h6, .crown-postcontent h6 a, .crown-postcontent h6 a:link, .crown-postcontent h6 a:visited, .crown-postcontent h6 a:hover,
.crown-blockheader .t, .crown-blockheader .t a, .crown-blockheader .t a:link, .crown-blockheader .t a:visited, .crown-blockheader .t a:hover,
.crown-vmenublockheader .t, .crown-vmenublockheader .t a, .crown-vmenublockheader .t a:link, .crown-vmenublockheader .t a:visited, .crown-vmenublockheader .t a:hover,
.crown-headline, .crown-headline a, .crown-headline a:link, .crown-headline a:visited, .crown-headline a:hover,
.crown-slogan, .crown-slogan a, .crown-slogan a:link, .crown-slogan a:visited, .crown-slogan a:hover,
.crown-postheader, .crown-postheader a, .crown-postheader a:link, .crown-postheader a:visited, .crown-postheader a:hover
{
   font-size: 22px;
   
   font-weight: normal;
   font-style: normal;
   line-height: 120%;
}

.crown-postcontent a, .crown-postcontent a:link
{
  
   text-decoration: none;
   color: #006175;
}

.crown-postcontent a:visited, .crown-postcontent a.visited
{
   
   text-decoration: none;
   color: #ED7600;
}

.crown-postcontent  a:hover, .crown-postcontent a.hover
{
  
   text-decoration: underline;
   color: #ED7600;
}

.crown-postcontent h1
{
   background:  #FF9120;
   color: #ffffff;
   padding: 10px 10px 10px 16px;
    margin: -18px 0px 0 -17px;
   font-size: 25px;
   width: 60%;
   height: 30px;
   font-weight: normal;
   
}

.crown-blockcontent h1
{
   margin: 0px 0 0;
   font-size: 26px;
   font-weight: normal;
   
}

.crown-postcontent h1 a, .crown-postcontent h1 a:link, .crown-postcontent h1 a:hover, .crown-postcontent h1 a:visited, .crown-blockcontent h1 a, .crown-blockcontent h1 a:link, .crown-blockcontent h1 a:hover, .crown-blockcontent h1 a:visited 
{
   font-size: 26px;
   font-weight: normal;
}

.crown-postcontent h2
{
   color: #52616F;
   margin: 10px 0 0;
   font-size: 22px;
  font-weight: normal;
   
}

.crown-blockcontent h2
{
   margin: 10px 0 0;
   font-size: 22px;
  font-weight: normal;
  
}

.crown-postcontent h2 a, .crown-postcontent h2 a:link, .crown-postcontent h2 a:hover, .crown-postcontent h2 a:visited, .crown-blockcontent h2 a, .crown-blockcontent h2 a:link, .crown-blockcontent h2 a:hover, .crown-blockcontent h2 a:visited 
{
   font-size: 22px;
   font-weight: normal;
   
}

.crown-postcontent h3
{
   color: #FFFFFF;
   font-size: 18px;
   background:  #006175;
   margin: -10px 0px 0px -17px;
   padding: 10px 10px 7px 16px;
   width: 50%;
   height: 25px;
   font-weight: normal;

}
  


.crown-blockcontent h3
{
   margin: 10px 0 0;
   font-size: 20px;
   font-weight: normal;
}

.crown-postcontent h3 a, .crown-postcontent h3 a:link, .crown-postcontent h3 a:hover, .crown-postcontent h3 a:visited, .crown-blockcontent h3 a, .crown-blockcontent h3 a:link, .crown-blockcontent h3 a:hover, .crown-blockcontent h3 a:visited 
{
   font-size: 20px;
   font-weight: normal;
  
}

.crown-postcontent h4
{
   color: #303F50;
   margin: 0px 0 0;
   font-size: 17px;
   font-weight: normal;
   
}

.crown-blockcontent h4
{
   margin: 0px 0 0;
   font-size: 18px;
   font-weight: normal;
   line-height: 20px;
   padding-bottom: 5px;
   
}

.crown-postcontent h4 a, .crown-postcontent h4 a:link, .crown-postcontent h4 a:hover, .crown-postcontent h4 a:visited, .crown-blockcontent h4 a, .crown-blockcontent h4 a:link, .crown-blockcontent h4 a:hover, .crown-blockcontent h4 a:visited 
{
   font-size: 17px;
   font-weight: normal;
   
}

.crown-postcontent h5
{
   color: #303F50;
   margin: 10px  0;
   font-size: 18px;
   font-family: "header-font";
   font-weight: normal;
   
}

.crown-blockcontent h5
{
   margin: 10px 0;
   font-size: 18px;
   font-family: "header-font";
   font-weight: normal;
   
}

.crown-postcontent h5 a, .crown-postcontent h5 a:link, .crown-postcontent h5 a:hover, .crown-postcontent h5 a:visited, .crown-blockcontent h5 a, .crown-blockcontent h5 a:link, .crown-blockcontent h5 a:hover, .crown-blockcontent h5 a:visited 
{
   font-size: 18px;
font-family: "header-font";
   font-weight: normal;
}

.crown-postcontent h6
{
   color: #587493;
   margin: 10px 0 0;
   font-size: 13px;
font-weight: normal;
   
}

.crown-blockcontent h6
{
   margin: 10px 0 0;
   font-size: 13px;
font-weight: normal;
   
}

.crown-postcontent h6 a, .crown-postcontent h6 a:link, .crown-postcontent h6 a:hover, .crown-postcontent h6 a:visited, .crown-blockcontent h6 a, .crown-blockcontent h6 a:link, .crown-blockcontent h6 a:hover, .crown-blockcontent h6 a:visited 
{
   font-size: 13px;
font-weight: normal;
   
}

header, footer, article, nav, .crown-sheet, .crown-hmenu a, .crown-vmenu a, .crown-checkbox:before, .crown-radiobutton:before
{
   -webkit-background-origin: border !important;
   -moz-background-origin: border !important;
   background-origin: border-box !important;
}

header, footer, article, nav, .crown-sheet, .crown-checkbox:before, .crown-radiobutton:before
{
   display: block;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

ul
{
   list-style-type: none;
}

ol
{
   list-style-position: inside;
}

html, body
{


   height: 100%;
}

body
{

   min-width: 100%;
   color: #1D2630;
}

.clearfix:before, .clearfix:after {
   content: "";
   display: table;
}

.clearfix:after {
   clear: both;
}

.cleared {
   font: 0/0 serif;
   clear: both;
}

form
{
   padding: 0 !important;
   margin: 0 !important;
}

table.position
{
   position: relative;
   width: 100%;
   table-layout: fixed;
}

li h1, .crown-postcontent li h1, .crown-blockcontent li h1 
{
   margin:1px;
} 
li h2, .crown-postcontent li h2, .crown-blockcontent li h2 
{
   margin:1px;
} 
li h3, .crown-postcontent li h3, .crown-blockcontent li h3 
{
   margin:1px;
} 
li h4, .crown-postcontent li h4, .crown-blockcontent li h4 
{
   margin:1px;
} 
li h5, .crown-postcontent li h5, .crown-blockcontent li h5 
{
   margin:1px;
} 
li h6, .crown-postcontent li h6, .crown-blockcontent li h6 
{
   margin:1px;
} 
li p, .crown-postcontent li p, .crown-blockcontent li p 
{
   margin:1px;
}


.crown-shapes
{
margin:0px 200px 50px 0px;
   position:absolute;
   width:200px
   height: 200px;
   overflow: hidden;
   z-index:9999;
}

.crown-slider-inner {
   position: relative;
   overflow: hidden;
   width: 100%;
   height: 100%;
}




.crown-nav
{
   background:  #006275;
   border-top:0px dashed #ED7600;
   border-bottom:4px solid #ED7600;
   padding:6px;
   margin:0 auto;
   position:relative;
   z-index: auto !important;
   font-size: 0;
   padding-left: 0;
   padding-right: 0;
   height: 105px;
}



ul.crown-hmenu a, ul.crown-hmenu a:link, ul.crown-hmenu a:visited, ul.crown-hmenu a:hover 
{
   outline: none;
   position: relative;
   z-index: 11;
}

ul.crown-hmenu, ul.crown-hmenu ul
{
   display: block;
   margin: 0;
   padding: 0;
   border: 0;
   list-style-type: none;
}

ul.crown-hmenu li
{
   position: relative;
   z-index: 5;
   display: block;
   float: left;
   background: none;
   margin: 0;
   padding: 0;
   border: 0;
}

ul.crown-hmenu li:hover{
   z-index: 10000;
   white-space: normal;
}

ul.crown-hmenu:after, ul.crown-hmenu ul:after
{
   content: ".";
   height: 0;
   display: block;
   visibility: hidden;
   overflow: hidden;
   clear: both;
}

ul.crown-hmenu, ul.crown-hmenu ul {
   min-height: 0;
}

ul.crown-hmenu {
   display: inline-block;
   vertical-align: middle;
   padding-left: 6px;
   padding-right: 6px;
}

.crown-nav-inner:before {
   content:' ';
}


.crown-nav-inner{
   text-align: left;
   max-width:900px;
   padding-right: 0px;
   padding-left: 370px;
   padding-top: 65px;
  min-width:800px;
   position: absolute;
}
  


.crown-menuitemcontainer
{
    margin: 0 auto;
}
ul.crown-hmenu>li {
   margin-left: 28px;
}
ul.crown-hmenu>li:first-child {
   margin-left: 14px;
}
ul.crown-hmenu>li:last-child {
   margin-right: 14px;
}

ul.crown-hmenu>li>a
{
   padding:0 7px 0 8px;
   margin:0 auto;
   position: relative;
   display: block;
   height: 26px;
   cursor: pointer;
   text-decoration: none;
   color: #FFFFFF;
   line-height: 26px;
   text-align: left;
}

.crown-hmenu a, 
.crown-hmenu a:link, 
.crown-hmenu a:visited, 
.crown-hmenu a.active, 
.crown-hmenu a:hover
{
   font-size: 16px;
   
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   text-transform: uppercase;
   text-align: left;
}

ul.crown-hmenu>li>a.active
{

   padding:0 7px 0 8px;
   margin:0 auto;
   color: #FF9120;
   text-decoration: none;

   	
}
ul.crown-hmenu>li>a.active:before {
   background-position: bottom left;
} 
ul.crown-hmenu>li>a.active:after {

   content: url("/wp-content/uploads/2013/05/arrow2.png");
    position: absolute;
    left: 32%;
    top: 25px;
    margin: 28x / 2; 
}



ul.crown-hmenu>li>a:visited, 
ul.crown-hmenu>li>a:hover, 
ul.crown-hmenu>li:hover>a {
   text-decoration: none;
}

ul.crown-hmenu>li>a:hover, ul.crown-hmenu>li:hover>a
{
   
  padding:0 7px 0 8px;
   margin:0 auto;
}
ul.crown-hmenu>li>a:hover, ul.crown-hmenu>li:hover>a {
   color: #FF9120;
   text-decoration: none;
}

ul.crown-hmenu li li a
{
  
   padding:0 8px;
   margin:0 auto;
}
ul.crown-hmenu li li 
{
   float: none;
   width: auto;
   margin-top: 0;
   margin-bottom: 0;
}

ul.crown-hmenu li li ul>li:first-child 
{
   margin-top: 0;
}

ul.crown-hmenu li li ul>li:last-child 
{
   margin-bottom: 0;
}

.crown-hmenu ul a
{
   display: block;
   white-space: nowrap;
   height: 25px;
   min-width: 7em;
   border: 0 solid transparent;
   text-align: left;
   line-height: 25px;
   color: #ED7600;
   font-size: 14px;
  
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   text-transform: none;
   margin:0;
}

.crown-hmenu ul a:link, 
.crown-hmenu ul a:visited, 
.crown-hmenu ul a.active, 
.crown-hmenu ul a:hover
{
   text-align: left;
   line-height: 25px;
   color: #ED7600;
   font-size: 14px;
   
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   text-transform: none;
   margin:0;
}

ul.crown-hmenu ul li a:hover, ul.crown-hmenu ul li:hover>a
{
   background:  #FF9120;
   padding:0 8px;
   margin:0 auto;
}
.crown-hmenu ul a:hover
{
   text-decoration: none;
}

.crown-hmenu ul li a:hover
{
   color: #006175;
}

.crown-hmenu ul li:hover>a
{
   color: #006175;
}

ul.crown-hmenu ul:before
{
   background:  #EFF2F5;
   border:1px solid #CFD8E2;
   margin:0 auto;
   display: block;
   position: absolute;
   content: ' ';
   z-index: 1;
}
ul.crown-hmenu li:hover>ul {
   visibility: visible;
   top: 100%;
}
ul.crown-hmenu li li:hover>ul {
   top: 0;
   left: 100%;
}

ul.crown-hmenu ul
{
   visibility: hidden;
   position: absolute;
   z-index: 10;
   left: 0;
   top: 0;
   background-image: url('images/spacer.gif');
   padding: 12px 32px 32px 32px;
   margin: -10px 0 0 -30px;
}

ul.crown-hmenu ul ul
{
   padding: 32px 32px 32px 14px;
   margin: -32px 0 0 -9px;
}

ul.crown-hmenu ul.crown-hmenu-left-to-right 
{
   right: auto;
   left: 0;
   margin: -10px 0 0 -30px;
}

ul.crown-hmenu ul.crown-hmenu-right-to-left 
{
   left: auto;
   right: 0;
   margin: -10px -30px 0 0;
}

ul.crown-hmenu li li:hover>ul.crown-hmenu-left-to-right {
   right: auto;
   left: 100%;
}
ul.crown-hmenu li li:hover>ul.crown-hmenu-right-to-left {
   left: auto;
   right: 100%;
}

ul.crown-hmenu ul ul.crown-hmenu-left-to-right
{
   right: auto;
   left: 0;
   padding: 32px 32px 32px 14px;
   margin: -32px 0 0 -9px;
}

ul.crown-hmenu ul ul.crown-hmenu-right-to-left
{
   left: auto;
   right: 0;
   padding: 32px 14px 32px 32px;
   margin: -32px -9px 0 0;
}

ul.crown-hmenu li ul>li:first-child {
   margin-top: 0;
}
ul.crown-hmenu li ul>li:last-child {
   margin-bottom: 0;
}

ul.crown-hmenu ul ul:before
{
   border-radius: 7px;
   top: 30px;
   bottom: 30px;
   right: 30px;
   left: 12px;
}

ul.crown-hmenu>li>ul:before
{
   top: 10px;
   right: 30px;
   bottom: 30px;
   left: 30px;
}

ul.crown-hmenu>li>ul.crown-hmenu-left-to-right:before {
   right: 30px;
   left: 30px;
}
ul.crown-hmenu>li>ul.crown-hmenu-right-to-left:before {
   right: 30px;
   left: 30px;
}
ul.crown-hmenu ul ul.crown-hmenu-left-to-right:before {
   right: 30px;
   left: 12px;
}
ul.crown-hmenu ul ul.crown-hmenu-right-to-left:before {
   right: 12px;
   left: 30px;
}

.crown-header
{
   margin: 0 auto;
   position:relative;
   height: 160px;

   background-position: center top;
   background-repeat: no-repeat;
}

.crown-header-inner{
   position: relative;
   width: 1000px;
   z-index: auto !important;
   height: 100%;
   margin: 0 auto;
}

.crown-header-inner1{
   margin: -105px 0px 0 -45px;
   position:absolute;
   /*z-index:15;*/
   /**/
   background: url("/wp-content/uploads/2014/03/dtc-shadow-logo-1.png") no-repeat;
   display: block;
   width: 294px;
   height: 229px;
}

.crown-header>.widget 
{
   position:absolute;
   z-index:101;
}
.crown-sheet
{
   max-width:1000px;
   margin: 0 auto;
   cursor:auto;
   width: 1000px;
}

.crown-layout-wrapper
{
     
position:relative;
   margin:0 auto;
}

.crown-content-layout
{
  
 display: table;
   width:100%;
   table-layout: fixed;
   

}
.crown-content-layout1 {
background: #C9CBC8;
margin: 5px 0 0 30px;
background:  rgba(500, 500, 500, 0.8);
padding: 10px;
overflow: hidden;
width: 740px;


}
.crown-content-layout3 {

margin: o auto;

padding: 10px;
overflow: hidden;
width: 1000px;

min-height:660px;
}
.crown-content-layout2 {

margin: 0 0 0 637px;
height:300px;

}

.crown-content-layout-row 
{
   display: table-row;
}

.crown-layout-cell
{

   display: table-cell;
   vertical-align: top;
 
}

.crown-block
{
   background:  #;
   border:0px solid rgba(156, 175, 196, 0.2);
   padding:5px;
}
div.crown-block img
{
   border: none;
   margin: 0;
}

.crown-blockcontent
{
   margin:0 0px 0 -20px;
   color: #FFFFFF;
   font-size: 16px;
   width: 234px;
   font-weight: normal;
   font-style: normal;
   line-height: 175%;
}
.crown-blockcontent table,
.crown-blockcontent li, 
.crown-blockcontent a,
.crown-blockcontent a:link,
.crown-blockcontent a:visited,
.crown-blockcontent a:hover
{
   color: #FFFFFF;
   font-size: 16px;
   
   font-weight: normal;
   font-style: normal;
   line-height: 175%;
}

.crown-blockcontent p
{
   margin: 0px;
   line-height: 28px;
}

.crown-blockcontent a, .crown-blockcontent a:link
{
   font-size: 13px;
color: #FFFFFF;
   text-decoration: none;
}

.crown-blockcontent a:visited, .crown-blockcontent a.visited
{
   color: #F9FAFB;
   font-size: 13px;
   text-decoration: none;
}

.crown-blockcontent a:hover, .crown-blockcontent a.hover
{
   color: #FFFFFF;
   
   text-decoration: none
}
.crown-block ul>li:before
{
 
   margin-right:0px;
   padding-bottom: 0px;
   display:none;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}

.crown-block ol, .crown-block ul
{
   margin: 1em 0 1em 10px;
   padding: 0;
}

.crown-block li
{
   font-size: 13px;
   
   line-height: 175%;
   color: #EFF2F5;
   margin: 5px 0 0 0;
   padding: 0;
}

.crown-block li ol, .crown-block li ul
{
   margin: 0.5em 0 0.5em 10px;
   padding: 0;
}

.crown-block ol>li
{
   /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}

.crown-block ul>li
{
   /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
   overflow-y: hidden;
}

.crown-breadcrumbs
{
   margin:0 auto;
}

a.crown-button,
a.crown-button:link,
a:link.crown-button:link,
body a.crown-button:link,
a.crown-button:visited,
body a.crown-button:visited,
input.crown-button,
button.crown-button
{
   text-decoration: none;
   font-size: 16px;
   
   font-weight: normal;
   font-style: normal;
   position:relative;
   display: inline-block;
   vertical-align: middle;
   white-space: nowrap;
   text-align: center;
   color: #FFFFFF;
   margin: 0 !important;
   overflow: visible;
   cursor: pointer;
   text-indent: 0;
   line-height: 28px;
   -webkit-box-sizing: content-box;
   -moz-box-sizing: content-box;
   box-sizing: content-box;
}

.crown-button img
{
   margin: 0;
   vertical-align: middle;
}

.firefox2 .crown-button
{
   display: block;
   float: left;
}

input, select, textarea
{
   vertical-align: middle;
   font-size: 16px;
   
   font-weight: normal;
   font-style: normal;
}

.crown-block select 
{
   width:96%;
}

input.crown-button
{
   float: none !important;
}

.crown-button.active, .crown-button.active:hover
{
   background:  #A1ADBA;
   padding:0 10px;
   margin:0 auto;
}
.crown-button.active, .crown-button.active:hover {
   color: #FFFFFF !important;
}

.crown-button.hover, .crown-button:hover
{
   background:  #006275;
   padding:0 10px;
   margin:0 auto;
}
.crown-button.hover, .crown-button:hover {
   color: #FFFFFF !important;
}

input[type="text"], input[type="password"]
{
   background:  #1A7183;
   width: 120px;
   border:0px solid #B9C2CB;
   margin:0 0 0 0px;
}
input[type="text"], input[type="password"]
{
   width: 110px;
   padding: 4px 4px;
   color: #035a6c !important;
   font-size: 11px;
}
form.crown-search input[type="text"]
{
   background:  #006175;
   -webkit-border-radius:2px;
   -moz-border-radius:2px;
   border-radius:2px;
   border:0px solid #CCD6E0;
   margin: 2px 0;
   width: 100%;
   padding: 3px 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   color: #782A02 !important;
}
form.crown-search 
{
     background:  #006175;
   border: 0;
   display:block;
   position:relative;
   right:5px;
   top:0;
   padding:0;
   margin:5px;
   left:0;
}

form.crown-search input
{
   top:0;
   right:0;
}

form.crown-search>input {
   bottom:0;
   left:0;
   vertical-align: middle;
}
 
form.crown-search input[type="submit"] {
   position:absolute;
   left:auto;
   width:24px;
   height: 100%;
   display:block;
   border:none;
   background:url('images/searchicon.png') center center no-repeat;
   padding:0;
}

label.crown-checkbox:before
{
   background:  #F9FAFB;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   margin:0 auto;
   width:16px;
   height:16px;
}
label.crown-checkbox
{
   cursor: pointer;
   font-size: 13px;
   
   font-weight: normal;
   font-style: normal;
   line-height: 16px;
   display: inline-block;
}

.crown-checkbox>input[type="checkbox"]
{
   margin: 0 5px 0 0;
}

label.crown-checkbox.active:before
{
   background:  #FC905A;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   margin:0 auto;
   width:16px;
   height:16px;
   display: inline-block;
}

label.crown-checkbox.hovered:before
{
   background:  #D9DEE3;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   margin:0 auto;
   width:16px;
   height:16px;
   display: inline-block;
}

label.crown-radiobutton:before
{
   background:  #F9FAFB;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   margin:0 auto;
   width:12px;
   height:12px;
}
label.crown-radiobutton
{
   cursor: pointer;
   font-size: 13px;
   
   font-weight: normal;
   font-style: normal;
   line-height: 12px;
   display: inline-block;
}

.crown-radiobutton>input[type="radio"]
{
   vertical-align: baseline;
   margin: 0 5px 0 0;
}

label.crown-radiobutton.active:before
{
   background:  #B9C2CB;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   margin:0 auto;
   width:12px;
   height:12px;
   display: inline-block;
}

label.crown-radiobutton.hovered:before
{
   background:  #D9DEE3;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   margin:0 auto;
   width:12px;
   height:12px;
   display: inline-block;
}

.crown-post
{
   padding:7px;
}
a img
{
   border: 2px solid #01586b;
}

.crown-article img, img.crown-article, .crown-block img, .crown-footer img
{
   border: 5px solid #006175;
   margin: 0;
}

.crown-metadata-icons img
{
   border: none;
   vertical-align: middle;
   margin: 0px;
}

.crown-article table, table.crown-article
{
   border-collapse: collapse;
   margin: 1px;
}

.crown-post .crown-content-layout-br
{
   height: 0;
}

.crown-article th, .crown-article td
{
   padding: 2px;
   border: dashed 0px #5A7796;
   vertical-align: top;
   text-align: left;
}

.crown-article th
{
   text-align: center;
   vertical-align: middle;
   padding: 7px;
}

pre
{
   overflow: auto;
   padding: 0.1em;
}

.preview-cms-logo
{
   border: 0;
   margin: 1em 1em 0 0;
   float: left;
}

.image-caption-wrapper
{
   padding: 7px 7px 7px 7px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper img
{
   margin: 0 !important;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper div.crown-collage
{
   margin: 0 !important;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper p
{
   font-size: 80%;
   text-align: right;
   margin: 0;
}

.crown-postmetadataheader
{
 margin:0;  

}


.crown-postheadericon:before
{

   margin-right:0px;
   padding-bottom: 0px;
   display:none;
   vertical-align:middle;
   font-size:0;
   line-height:0;

}


.crown-postheader
{
   color: #ffffff;
   margin: 5px 10px;
   font-size: 24px;
   padding: 5px 0 0 3px;
   font-weight: normal;
   font-style: normal;
   text-transform:uppercase;
}

.crown-postheader a, 
.crown-postheader a:link, 
.crown-postheader a:visited,
.crown-postheader a.visited,
.crown-postheader a:hover,
.crown-postheader a.hovered
{
   font-size: 24px;
   
   font-weight: normal;
   font-style: normal;
}

.crown-postheader a, .crown-postheader a:link
{
   
   text-decoration: none;
   text-align: left;
   color: #FFF2EB;
}

.crown-postheader a:visited, .crown-postheader a.visited
{
   
   text-decoration: none;
   text-align: left;
   color: #DCE3EA;
}

.crown-postheader a:hover,  .crown-postheader a.hovered
{
   
   text-decoration: none;
   text-align: left;
   color: #BE4204;
}

.crown-postheadericons,
.crown-postheadericons a,
.crown-postheadericons a:link,
.crown-postheadericons a:visited,
.crown-postheadericons a:hover
{
   font-size: 16px;
   
   color: #E9EDF2;
}

.crown-postheadericons
{
   display:inline-block;
   padding: 1px;
}

.crown-postheadericons a, .crown-postheadericons a:link
{
   
   text-decoration: none;
   color: #FFFFFF;
}

.crown-postheadericons a:visited, .crown-postheadericons a.visited
{
  
   font-weight: normal;
   font-style: italic;
   text-decoration: none;
   color: #FFFFFF;
}

.crown-postheadericons a:hover, .crown-postheadericons a.hover
{
   
   font-weight: normal;
   font-style: italic;
   text-decoration: none;
   color: #FFFFFF;
}

.crown-postcontent ul>li:before,  .crown-post ul>li:before,  .crown-textblock ul>li:before
{

   margin-right:0px;
   padding-bottom: 0px;
   display:none;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}

.crown-postcontent ol, .crown-post ol, .crown-textblock ol, .crown-postcontent ul, .crown-post ul, .crown-textblock ul
{
   margin: 1em 0 1em 11px;
   padding: 0;
}

.crown-postcontent li, .crown-post li, .crown-textblock li
{
   
}

.crown-postcontent li ol, .crown-post li ol, .crown-textblock li ol, .crown-postcontent li ul, .crown-post li ul, .crown-textblock li ul
{
   margin: 0.5em 0 0.5em 11px;
   padding: 0;
}

.crown-postcontent li, .crown-post li, .crown-textblock li
{
   color: #303F50;
   margin: 3px 0 0 0;
   padding: 0;
}

.crown-postcontent ol>li, .crown-post ol>li, .crown-textblock ol>li
{
   /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}

.crown-postcontent ul>li, .crown-post ul>li, .crown-textblock ul>li
{
   /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
   overflow-y: hidden;
}

blockquote
{
   background:  #EFF2F5 url('images/postquote.png') no-repeat scroll;
   border:1px solid #9CAFC4;
   padding:6px 6px 6px 30px;
   margin:0 0 0 20px;
   color: #0D1216;
   
   font-weight: normal;
   font-style: italic;
   text-align: left;
   /* makes block not to align behind the image if they are in the same line */
  overflow: auto;
   clear:both;
}
blockquote a, .crown-postcontent blockquote a, .crown-blockcontent blockquote a, .crown-footer blockquote a,
blockquote a:link, .crown-postcontent blockquote a:link, .crown-blockcontent blockquote a:link, .crown-footer blockquote a:link,
blockquote a:visited, .crown-postcontent blockquote a:visited, .crown-blockcontent blockquote a:visited, .crown-footer blockquote a:visited,
blockquote a:hover, .crown-postcontent blockquote a:hover, .crown-blockcontent blockquote a:hover, .crown-footer blockquote a:hover
{
   color: #0D1216;
   
   font-weight: normal;
   font-style: italic;
   text-align: left;
}

/* Override native 'p' margins*/
blockquote p,
.crown-postcontent blockquote p,
.crown-blockcontent blockquote p,
.crown-footer blockquote p
{
   margin: 0;
   margin: 5px 0;
}


.crown-footer
{
   background: #006175  url('/wp-content/uploads/2014/03/footer-bottom-bg.png')  scroll;
   background-repeat: no-repeat;
   border-top: 0px solid #ED7600;
   margin-top:0;
   margin-bottom:0;
   width: 100%;
   position:absolute;

   color: #FFFFFF;
   font-size: 12px;
   font-family: "header-font";
   line-height: 175%;
   text-align: center;
   padding: 0;
position:fixed;
   left:0px;
   bottom:0px;
height:55px;
z-index: 9999;

}






.crown-footer p 
{
   padding:0;
   text-align: center;
}

.crown-footer a,
.crown-footer a:link
{
   color: #FFFFFF;
   
   text-decoration: none;
}

.crown-footer a:visited
{
   color: #FFFFFF;
   
   text-decoration: none;
}

.crown-footer a:hover

{
   color: #ed7600;
   
   text-decoration: none;
}

.crown-footer a:active
{
   color: #ed7600;
   
   text-decoration: none;
}
.crown-footer img
{
   border: none;
   margin: 0;
}

.crown-footer-inner
{
   
	position:absolute;
bottom:0;
left:0;
    
}
.crown-footer-inner1
{
     width:1200px; 
   margin: 0 auto;
   padding: 0 0 0 156px;
   position:relative;
line-height:20px;

    
}
}

.crown-footer ul>li:before
{

   margin-right:0px;
   padding-bottom: 0px;
   display:none;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}

.crown-footer ol, .crown-footer ul
{
   margin: 1em 0 1em 0;
   padding: 0;
}

.crown-footer li
{
   font-size: 13px;
   
   color: #FEDAC8;
   margin: 0 0 0 0;
   padding: 0;
}

.crown-footer li ol, .crown-footer li ul
{
   margin: 0.5em 0 0.5em 0;
   padding: 0;
}

.crown-footer ol>li
{
   /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}

.crown-footer ul>li
{
   /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
   overflow-y: hidden;
}

.crown-page-footer, 
.crown-page-footer a,
.crown-page-footer a:link,
.crown-page-footer a:visited,
.crown-footer a.active,
.crown-page-footer a:hover
{
   
   font-size: 10px;
   letter-spacing: normal;
   word-spacing: normal;
   font-style: normal;
   font-weight: normal;
   text-decoration: underline;
   color: #CAD1D8;
}

.crown-page-footer
{
  position: relative;
   z-index: auto !important;
   padding: 1em;
   text-align: center !important;
   text-decoration: none;
   color: #ACBCCD;
}

.crown-slidenavigator
{
   background: #B9C2CB;
   background:  rgba(185, 194, 203, 0.6);
   background: -webkit-linear-gradient(top, rgba(232, 235, 238, 0.6) 0, rgba(138, 153, 168, 0.6) 100%) no-repeat;
   background: -moz-linear-gradient(top, rgba(232, 235, 238, 0.6) 0, rgba(138, 153, 168, 0.6) 100%) no-repeat;
   background: -o-linear-gradient(top, rgba(232, 235, 238, 0.6) 0, rgba(138, 153, 168, 0.6) 100%) no-repeat;
   background: -ms-linear-gradient(top, rgba(232, 235, 238, 0.6) 0, rgba(138, 153, 168, 0.6) 100%) no-repeat;
   background: linear-gradient(top, rgba(232, 235, 238, 0.6) 0, rgba(138, 153, 168, 0.6) 100%) no-repeat;
   -svg-background: linear-gradient(top, rgba(232, 235, 238, 0.6) 0, rgba(138, 153, 168, 0.6) 100%) no-repeat;
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   margin:0 auto;
}

.crown-slidenavigator > a
{
   background:  #728597;
   -webkit-border-radius:50%;
   -moz-border-radius:50%;
   border-radius:50%;
   margin:7px 17px 7px 0;
   display: inline-block;
   width: 10px;
   height: 10px;
   vertical-align: middle;
   outline-style: none;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   -webkit-background-origin: border !important;
   -moz-background-origin: border !important;
   background-origin: border-box !important;
}

.crown-slidenavigator > a:first-child {
   margin-left: 17px;
}

.crown-slidenavigator > a.active
{
   background:  #FA681E;
}

.crown-slidenavigator > a:hover
{
   background:  #455B73;
}

img.crown-lightbox
{
   cursor: pointer;
}

#crown-lightbox-bg *
{
   padding: 0;
   margin: 0;
}

div#crown-lightbox-bg
{
   top: 0;
   left: 0;
   width: 100%;
   position: absolute;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.8);
   /*opacity: 0.8;
	filter:alpha(opacity=80);*/
    z-index: 9999;
}

img.crown-lightbox-image
{
   -webkit-transition: opacity 350ms ease-in-out;
   -moz-transition: opacity 350ms ease-in-out;
   -o-transition: opacity 350ms ease-in-out;
   -ms-transition: opacity 350ms ease-in-out;
   transition: opacity 350ms ease-in-out;
   cursor: pointer;
   z-index: 10000;
   position: fixed;
   border: 6px solid #fff;
   border-radius: 3px;
   opacity: 0;
   filter:alpha(opacity=0);
}

img.crown-lightbox-image.active
{
   opacity: 1;
   filter:alpha(opacity=1);
}

.lightbox-error
{
   position: fixed;
   background: #fff;
   z-index: 100;
   opacity: 0.95;
   padding: 20px;
   border: 1px solid #b4b4b4;
   border-radius: 10px;
   box-shadow: 0 2px 5px #333;
   width: 300px;
   height: 80px;
}

.loading
{
   position: fixed;
   background: #fff url('images/preloader-01.gif') center center no-repeat;
   width: 32px;
   height: 32px;
   z-index: 10100;
   opacity: 0.5;
   padding: 10px;
   border: 1px solid #b4b4b4;
   border-radius: 10px;
   box-shadow: 0 2px 5px #333;
}

.arrow
{
   height: 100px;
   width: 82px;
   z-index: 10003;
   position: fixed;
   cursor: pointer;
   opacity: 0.5;
   filter:alpha(opacity=0.5);
}

.arrow.left
{
   left: 9px;
}
.arrow.right
{
   right: 9px;
}

.arrow:hover
{
   opacity: 1;
   filter:alpha(opacity=1);
}

.arrow.disabled 
{
   display: none;
}

.arrow-t, .arrow-b
{
   height: 6px;
   width: 30px;
   left: 26px;
   background-color: #fff;
   position: relative;
   border-radius: 3px;
}

.arrow-t
{
   top: 38px;
}

.arrow-b
{
   top: 50px;
}

.close
{
   width: 22px;
   height: 22px;
   position: fixed;
   top: 30px;
   right: 39px;
   cursor: pointer;
   opacity: 0.5;
   filter:alpha(opacity=0.5);
}

.close:hover 
{
   opacity: 1;
   filter:alpha(opacity=1);
}

.close .cw, .close .ccw
{
   position: absolute;
   top: 8px;
   left: -4px;
   width: 30px;
   height: 6px;
   background-color: #fff;
   border-radius: 3px;
}

.cw
{
   transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   /* IE 9 */
    -webkit-transform: rotate(45deg);
   /* Safari and Chrome */
    -o-transform: rotate(45deg);
   /* Opera */
    -moz-transform: rotate(45deg);
/* Firefox */}

.ccw
{
   transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   /* IE 9 */
    -webkit-transform: rotate(-45deg);
   /* Safari and Chrome */
    -o-transform: rotate(-45deg);
   /* Opera */
    -moz-transform: rotate(-45deg);
/* Firefox */}

.crown-content-layout .crown-sidebar1
{
   margin:0;
   padding: 0;
width: 234px;
   

}

.crown-content-layout .crown-content
{
   margin:0 auto;
   padding-bottom: 15px;
}



textarea#comment
{
    width:99%;
}

ul#comments-list div.avatar
{
    float:right;    
}

ul#comments-list, ul#comments-list li
{
  background: none;
  padding:0;
}

ul#comments-list li li
{
  margin-left: 20px;
}

div.avatar
{
  position:relative;
  margin: 7px;
  border: 1px solid #aaa;
  padding: 1px;
  background: #fff;
  float:left;
}

div.avatar img, div.avatar img.wp-post-image
{
    margin:0 !important;
    padding:0;
    border:none;
}

span.page-navi-outer, span.page-navi-inner 
{
    position:relative;
    display:block;
    float:left;
    margin:0;
    padding:0;
}

span.page-navi-outer
{
  margin: 1px;
  border: 1px solid #aaa;
}

span.page-navi-inner 
{
  padding: 1px;
  min-width:14px;
  line-height:18px;
  text-align:center;
  border: 2px solid #fff;
  font-weight:bold;
}

a span.page-navi-inner, span.page-navi-caption span.page-navi-inner 
{
    border-width:1px;
    font-weight:normal;
}

a span.page-navi-outer, span.page-navi-caption
{
    margin:2px 1px;
}

ul#comments-list li cite
{
  font-size: 1.2em;
}

#commentform textarea
{
  width: 100%;
}

#commentform
{
  text-align:left;
}

.rtl #commentform
{
  text-align:right;
}

img.wp-smiley
{
  border: none;
  margin: 1px;
  vertical-align:middle;
  padding: 0;
}

.navigation
{
  display: block;
  text-align: center;
}

/* Recommended by http://codex.wordpress.org/CSS */
/* Begin */
.aligncenter, div.aligncenter, .crown-article .aligncenter img, .aligncenter img.crown-article, .aligncenter img, img.aligncenter
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p.aligncenter , p.center 
{
   text-align: center; 
}

.alignleft
{
  float: left;
}

.alignright
{
  float: right;
}

.wp-caption
{
  border: 1px solid #ddd;
  background-color: #f3f3f3;
  padding-top: 4px;
  margin: 10px;
}

.wp-caption img
{
  margin: 0;
  padding: 0;
  border: 0 none;
}

.wp-caption p.wp-caption-text
{
  font-size: 11px;
  line-height: 17px;
  padding: 0 4px 5px;
  margin: 0;
}

.wp-caption, .wp-caption p
{
    text-align: center;
}

.gallery {
	margin: 0 auto 18px;
    clear:both;
    overflow:hidden;
}

.gallery .gallery-item {
	float: left;
	margin-top: 0;
	text-align: center;
	width: 33%;
}
.gallery img {
	border: 2px solid #cfcfcf;
}

.gallery .gallery-caption {
	color: #888;
	font-size: 12px;
	margin: 0 0 12px;
}

.gallery dl {
	margin: 0;
}

.gallery img {
	border: 10px solid #f1f1f1;
}

.gallery br+br {
	display: none;
}
/* End */


.hidden
{
  display: none;
}

/* Calendar */
#wp-calendar {
  empty-cells: show;
  margin: 10px auto 0;
  width: 155px;
}

#wp-calendar #next a {
  padding-right: 10px;
  text-align: right;
}

#wp-calendar #prev a {
  padding-left: 10px;
  text-align: left;
}

#wp-calendar a {
  display: block;
}

#wp-calendar caption {
  text-align: center;
  width: 100%;
}

#wp-calendar td {
  padding: 3px 0;
  text-align: center;
}

.gallery {
  letter-spacing: normal;
}

.crown-content {
  position: relative;
  z-index: 1;   
}

#todays-events{
  position: relative;
  z-index: 11;    
}

#upcoming-events{
  position: relative;
  z-index: 10;    
}

img.wp-post-image 
{
    margin:0 5px 5px 0 !important;
}

ul#comments-list li
{
    list-style-image: none;
    background:none;
    list-style-type:none;
    
}

div.crown-footer div.crown-content-layout
{
    margin:0 auto;
    width:100%;
}

div.crown-layout-cell-size1 
{
    width:100%;
}

div.crown-layout-cell-size2 
{
    width:50%;
}
div.crown-layout-cell-size3 
{
    width:33%;
}

div.crown-layout-cell-size4
{
    width:25%;
}

.crown-widget-title
{
    padding:0 0 0 24px;
    margin-bottom:0;
}

div.crown-center-wrapper
{
  position: relative;
  float: right;
  right: 50%;

}

div.crown-center-inner
{
  position: relative;
  float: left;
  left: 50%;
}

.firefox2 div.crown-center-inner
{
  float: none;
}

div.breadcrumbs h4, 
div.breadcrumbs p, 
li.pingback p, 
#respond p,
h3#reply-title, 
h4#comments, 
h4.box-title
{
    margin:0;
}

#respond .comment-notes {
	margin-bottom: 1em;
}

.form-allowed-tags {
	line-height: 1em;
}

#comments-list #respond {
	margin-left: 20px !important;
}

#cancel-comment-reply-link {
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
}

#respond .required {
	color: #ff4b33;
	font-weight: bold;
}

#respond label {
	font-size: 12px;
}

#respond input {
	margin: 0 0 9px;
	width: 98%;
}

#respond textarea {
	width: 98%;
}

#respond .form-allowed-tags {
	font-size: 12px;
	line-height: 18px;
}

#respond .form-allowed-tags code {
	font-size: 11px;
}

#respond .form-submit {
	margin: 12px 0;
}

#respond .form-submit input {
	font-size: 14px;
	width: auto;
}

.crown-footer .crown-widget-title 
{
    font-size:1.2em;
    padding: 0;
}

.crown-footer .crown-widget,
.crown-footer .crown-widget a,
.crown-footer .crown-widget a:link,
.crown-footer .crown-widget a:visited,
.crown-footer .crown-widget a:hover
{
    text-align: left;
}

DIV[id^="GMPmap"] IMG 
{
    margin: 0px;
}

/* Begin Additional CSS Styles */

/* End Additional CSS Styles */


.sidebar-crown-block{
   background:#E23B2D;
   
   padding: 0px;
  
   margin: 0 0 30px 0;
   width:238px;
   font-size: 13px;
   line-height:24px;

}
#sidebar-crown-block-content{
padding:20px 20px;
}
.tenant {
line-height:15px;
padding: 7px 0px 7px 0px;

}

.sidebar-crown-block1{
   background:#006175;
 
margin: 0 0 30px 0;
   width:238px;
   font-size: 13px;
   line-height:24px;
}

.sidebar-crown-block2{
   background:#fefefe;
   margin: 0 0px 0 0;
   padding: 15px 25px 23px 25px;
   width:280px;
   font-size: 13px;
   color: #006175;
   line-height:20px;
   overflow: visible;
-moz-box-shadow: 0px 0px 35px #ececec;
-webkit-box-shadow: 0px 0px 35px #ececec;
box-shadow: inset 0px 0px 35px #ececec;
/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/


}
.sidebar-crown-block2{
   background:#fefefe;
   padding: 15px 25px 23px 25px;
   width:280px;
margin: 0 0px 0 0px;
   font-size: 13px;
   color: #006175;
   line-height:19px;
   overflow: visible;
-moz-box-shadow: 0px 0px 35px 12px #ececec;
-webkit-box-shadow: 0px 0px 35px 12px #ececec;
box-shadow: inset 0px 0px 35px 12px #ececec;
/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/


}
#community {
background:  #ed7600;
padding: 10px;
margin: 0 0 35px 0;

}

#community a:link,
#community a:visited,
#community a:hover {
color: #FFFFFF;
}

#story {
background: #0089a4;
padding:10px;
margin: 0 0 35px 0;

}

#location {
background: #e23b2d;
padding:0px;

}

.nsu-form {
width: 150px;

}
#footcred {
font-size:9px;
color:#58a9ba;
position:absolute;
bottom:20px;
text-align:center;
left:515px;

}

.formcontact{
width:120px;
margin: 0 5px 0 0;
background:#1A7183;
}
.sml_emailinput{
width:120px;
background:#1A7183;
}
.sml_subscribe {
margin: -20px 0 0 0;
}
.sml_submitbtn {
background: url('/wp-content/uploads/2013/05/button-copy1.png') no-repeat;
width: 10px;
height:14px;
position: absolute;
margin: -39px 0 0 20px;
border: none;
}
.expand {
	background-image: url();
	background-repeat: no-repeat; background-position: top left;
	padding: 0 0px 0px 346px;
}

.gform_fields .gfield input[type=text]  {
background: #fff;
height: 20px;
border: 1px solid #006175;
}
.gfield textarea{
background: #fff;

border: 1px solid #006175;
}

.purplefont {
 
  
  width: 50%;
    color: #FFFFFF;
        font-size: 28px;
  
        
}
.albumList {
padding: 0px 0px 5px 15px;
}
.albumScroller h3 {
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
	padding: 0px 0px 5px 15px;
}

div#wrapper {
margin: 0 auto;
padding: 0;
}

p.tenants {
line-height: 32px;
}

.albumScroller .photo_item a.Link img {
	text-decoration: none;
	/*box-shadow: 0 2px 12px 2px #000;*/
	border: 0px solid #EB6D22;
	width: 175px;
	height: 150px;
        padding: 0px 0px 5px 10px;
}

.albumScroller .photo_item h4 a:link,
.albumScroller .photo_item h4 a:visited,
.albumScroller .photo_item h4 a:active {
	text-decoration: none;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
       padding: 0px 0px 5px 15px;
}




.sidebar-crown-block{
   background:#E23B2D;
   
   padding: 0px;
   padding-bottom: 10px;
   margin: 0 0 25px 0 ;
   width:250px;
   font-size: 13px;
   line-height:24px;

}
#sidebar-crown-block-content{
padding:10px 40px 20px 40px;
}

.tenant {
line-height:15px;
padding: 7px 0px 7px 0px;

}

.sidebar-crown-block1{
   background:#006175;
   padding-bottom: 10px;
   padding:0px;
   width:250px;
   font-size: 13px;
   line-height:24px;
}



#community {
background:  #ed7600 url('/wp-content/uploads/2013/05/background1.png')no-repeat ;
padding: 5px 10px;
margin: 0 0 35px 0;
overflow:hidden;


}

#story {
background: #0089a4 url('/wp-content/uploads/2013/05/background2.png')no-repeat ;
padding: 5px 10px;
margin: 0 0 35px 0;
overflow:hidden;
}

#location {
background: #e23b2d url('/wp-content/uploads/2013/05/background3.png')no-repeat ;
padding: 5px 10px;
overflow:hidden;
}

.nsu-form {
width: 150px;

}
#footcred {
font-size:9px;
color:#58a9ba;
}
#footerlock {
   background: url('/wp-content/uploads/2013/09/expand.png') no-repeat top center;
   text-align: left;
   width:100%;
   margin:0 ; 
   position: fixed;
}
#socialposition
{
width:50%;
float:left;
/*margin: -35px 0 0 235px;*/
}

#socialposition1
{
width:120px;
float:left;
margin: 19px 0 0 0px;
}
#socialposition2
{
width:80px;
float:left;
margin: 0px 0 0 5px;
}
#socialposition3
{
width:60px;
float:left;
margin: 5px 0 0 0px;
}
#copyrightposition {
width: 1070px;
}

#copyrightposition1
{
width:116px;
height:42px;
margin: 0 auto;
}
#copyrightposition2
{
margin: 15px 10px 0 0px;
float:left;
}
#copyrightposition3
{
/*margin: -30px 207px 0 0;*/
float:right;


}


.formcontact{
width:120px;
margin: 0 5px 0 0;
background:#1A7183;
}
.sml_emailinput{
width:120px;
background:#1A7183;
}

.sml_submitbtn {
background: url('/wp-content/uploads/2013/05/button-copy1.png') no-repeat;
width: 10px;
height:14px;
position: absolute;
margin: -19px 0 0 20px;
border: none;
}
.expand {
	background-image: url(/wp-content/uploads/2013/05/EXPAND.png);
	background-repeat: no-repeat; background-position: top left;
	padding: 0 0px 0px 346px;
}

.gform_fields .gfield input[type=text]  {
background: #fff;
height: 20px;
border: 1px solid #006175;
}
.gfield textarea{
background: #fff;

border: 1px solid #006175;
}


.purplefont {


padding:  0;
 width: 100%;

    color: #FFFFFF;
        font-size: 19px;
        font-family: "header-font";

}


.purplefont2 {




    color: #FFFFFF;
        font-size: 19px;
        font-family: "header-font";

}
.purplefont3 {



    color: #FFFFFF;
        font-size: 19px;
        font-family: "header-font";

}
div#wrapper {
margin: 0 auto;
padding: 0;
}

#footcred1 {
font-size:16px;
color:#fff;
line-height: 12px;
font-weight: bold;
/*margin: -5px 0 0 0px;*/
text-align:center;
font-family: "custom-three";


}


@media only screen
and (min-width : 1000px) {
.crown-nav-inner{
   text-align: left;
   width:900px;
   padding-right: 0px;
   padding-left: 370px;
   padding-top: 65px;
   margin:0 auto; 
   position: relative;
}

#footerlock{
    text-align: left;
   width:100%;

   margin:0 ; 
   position: fixed;
}
#copyrightposition1
{
width:116px;
height:42px;
margin: 0 auto;
}
#copyrightposition2
{
margin: 15px 10px 0 0px;
float:left;
}

.crown-footer-inner1
{
     width:1200px; 
   
   padding: 0 0 0 156px;
     margin:0 auto; 
   position: relative;
line-height:20px;

    
}


}

#newbackground
{
background:#016276;
position: relative;
z-index:0;
overflow:hidden;



}
#homepagetext {
background:#ed7600;
color:#fff;
padding: 10px 30px 10px 20px;
font-size: 55px;
width:1000%;
height:100%;
line-height:60px;
opacity: 0.9;
filter:alpha(opacity=0.9);
overflow:hidden;
}

#footerbcontent {
line-height:24px;
color:#fff;

}
#footer li a {
   margin-top: 3px;
}

   /* nav */
ul.crown-hmenu > li {
margin-left: 48px;
font-weight: normal;
}