.advanced-slider {
	position: relative;
	overflow: visible;
	outline: none;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: auto;
	margin-right: auto;
}


.advanced-slider * {
	margin: 0;
	padding: 0;	
}


.advanced-slider .slider-main {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 10;
}


.advanced-slider .slide-wrapper {
	position: relative;
	overflow: visible;
	width: 100%;
	height: 100%;
	z-index: 10;
}


.advanced-slider ul.slides {
	position: absolute;
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
	height: 100%;
	z-index: 10;
}


.advanced-slider li.slide {
	position: absolute;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;	
	list-style: none;
	filter: alpha(opacity=100);
	opacity: 1;
}


.advanced-slider li.slide .image,
.advanced-slider li.slide .thumbnail,
.advanced-slider li.slide .caption,
.advanced-slider li.slide .html {
	position: absolute;
}


.advanced-slider li.slide img,
.advanced-slider .thumbnail img {
	max-width: none;
	max-height: none;
	border: 0 none;
}


.advanced-slider.webkit li.slide .html {
	overflow: hidden;
}


.advanced-slider.webkit li.slide iframe {
	opacity: 0;
}


.advanced-slider.webkit li.slide.transition iframe, 
.advanced-slider.webkit li.slide.active iframe {
	opacity: 1;
}


.advanced-slider .slice-container {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 10;
}


.advanced-slider .swipeable-container {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow:hidden;
}


.advanced-slider .swipeable-container .slides {
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}


.advanced-slider .swipeable-container .slides .selectable {
	-webkit-user-select: auto;
	-moz-user-select: auto;
	-o-user-select: auto;
	user-select: auto;
	
	cursor: auto;
}


.advanced-slider .slice {
	display: block;
	position: absolute;
}


.advanced-slider .preloader {
	position: absolute;
	background: url(../images/slider/preloader2.gif) no-repeat;
	width: 62px;
	height: 14px;
	z-index: 15;
}


.advanced-slider .slide-arrows {
	position: static;
}


.advanced-slider .slide-arrows a {
	position: absolute;
	z-index: 30;
	cursor: pointer;
}


.advanced-slider .lightbox-icon {
	position: absolute;
	width: 80px;
	height: 80px;
	top: 50%;
	left: 50%;
	margin-top: -40px;
	margin-left: -40px;
	cursor: pointer;
	z-index: 10;
}


.advanced-slider .lightbox-icon.play {
	background-image: url(../images/slider/lightbox_play.png);
}


.advanced-slider .lightbox-icon.magnifying {
	background-image: url(../images/slider/lightbox_magnifying.png);
}


.advanced-slider .lightbox-icon.hyperlink {
	background-image: url(../images/slider/lightbox_hyperlink.png);
}


.advanced-slider .slideshow-controls {
	position: absolute;
	z-index: 40;
	cursor: pointer;
}


.advanced-slider .shadow {
	position: absolute;
	height: 94px;
	margin-top: -50px;
	z-index: 5;
}


.advanced-slider .shadow .shadow-left, 
.advanced-slider .shadow .shadow-right, 
.advanced-slider .shadow .shadow-middle {
	float: left;
}


.advanced-slider .shadow .shadow-left {
	float: left;
	background: url(../images/slider/shadow_left.png);
	width: 200px;
	height: 94px;
}


.advanced-slider .shadow .shadow-right {
	float: left;
	background: url(../images/slider/shadow_right.png);
	width: 200px;
	height: 94px;
}


.advanced-slider .shadow .shadow-middle {
	float: left;
	background: url(../images/slider/shadow_middle.png) repeat-x;
	height: 94px;
}


.advanced-slider .full-screen-controls {
	background: url(../images/slider/fullscreen.png) no-repeat;
	position: absolute;
	width: 31px;
	height: 27px;
	top: 20px;
	left: 20px;
	z-index: 60;
	cursor: pointer;
}


.advanced-slider .timer-animation {
	position: absolute;
	z-index: 50;
}


.advanced-slider canvas {
	position: absolute;
}


.advanced-slider .timer-animation .timer-animation-controls {
	position: absolute;
	cursor: pointer;
	width: 20px;
	height: 20px;
	top: 50%;
	left: 50%;
	margin-top: -10px;
	margin-left: -10px;
}


.advanced-slider .timer-animation .timer-animation-controls {
	background: url(../images/slider/playpause_small.png) no-repeat;
}


.advanced-slider .timer-animation.play .timer-animation-controls {
	background-position: -20px 0;
}


.advanced-slider .timer-animation.pause .timer-animation-controls {
	background-position: 0 0;
}


.advanced-slider .caption-container {
	overflow: hidden;
	position: absolute;
}


.advanced-slider .caption-container .wrapper {
	position: absolute;
}


.advanced-slider .caption-container .background {
	position: absolute;
	width: 100%;
	height: 100%;
}


.advanced-slider .thumbnail-wrapper {
	position: absolute;
}


.advanced-slider .thumbnail {
	background-image: url(../images/slider/preloader.gif);
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	overflow: hidden;
}


.advanced-slider .slide-buttons {
	position: absolute;
	z-index: 20;
}


.advanced-slider .slide-buttons .left, 
.advanced-slider .slide-buttons .right, 
.advanced-slider .slide-buttons .middle {
	float: left;
}


.advanced-slider .slide-buttons a {
	position: relative;
	cursor: pointer;
	float: left;
	text-decoration: none;
	text-align: center;
}


.advanced-slider .thumbnail-scroller {
	position: absolute;
	z-index: 20;
}


.advanced-slider .thumbnail-scroller .visible-container {
	position: relative;
	overflow: hidden;
}


.advanced-slider .thumbnail-scroller .container {
	position: absolute;
	overflow: visible;
	top: 0;
	left: 0;
	list-style: none;
	margin: 0;
	padding: 0;
}


.advanced-slider .thumbnail-scroller .thumbnail-wrapper {
	cursor: pointer;
	list-style: none;
}


.advanced-slider .thumbnail-scroller .lightbox-icon {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 50%;
	left: 50%;
	margin-top: -15px;
	margin-left: -15px;
	cursor: pointer;
}


.advanced-slider .thumbnail-scroller .lightbox-icon.play {
	background-image: url(../images/slider/lightbox_play_small.png);
}


.advanced-slider .thumbnail-scroller .lightbox-icon.magnifying {
	background-image: url(../images/slider/lightbox_magnifying_small.png);
}


.advanced-slider .thumbnail-scroller .lightbox-icon.hyperlink {
	background-image: url(../images/slider/lightbox_hyperlink_small.png);
}


.advanced-slider .thumbnail .caption {
	position: absolute;
	width: 100%;
}


.advanced-slider .thumbnail .caption .background {
	position: absolute;	
	width: 100%;
	height: 100%;
	z-index: 10;
}


.advanced-slider .thumbnail .caption .content {
	position: absolute;
	width: 100%;
	z-index: 20;
}


.advanced-slider .thumbnail-scroller .arrows a {
	position: absolute;
	cursor: pointer;
}


.advanced-slider .thumbnail-scroller .buttons {
	position: absolute;
	width: auto;
}


.advanced-slider .thumbnail-scroller .buttons a {
	position: absolute;
	cursor: pointer;
	text-decoration: none;
}


.advanced-slider-tooltip {
	position: absolute;
	z-index: 9999;
}